.landing-background-image {
    background-image: url(../../static/FrontPage.jpg);
    background-repeat: no-repeat;
    height: 100vh;
}

.image-style {
    width: 100%;
    border-radius: 15px;

}

.buttons-style {
    padding-top: 20%;
}