.landing-background-image {
    background-image: url(../../static/auditorium-benches-chairs-207691.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.color {
    height: 100vh;
    background: rgba(31, 122, 140, 0.3);
}

.image-style {
    width: 100%;
    border-radius: 15px;
}

.buttons-style {
    padding-top: 20%;
}

.row {
    margin: 0;
}

.col {
    margin: 0;
}