body {
    font-family: 'Ubuntu', sans-serif;
}

.container-fluid {
    width: auto;
    padding: 0;
}

.form {
    margin: 10px;
}

.feed-row {
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.feed {
    padding: 10px;
}

.userSideBar {
    padding: 0;
    color: #022b3a;
    background-color: #e1e5f2;
    /* border: 3px solid #F4D35E; */
}

h2 {
    padding: 10px;
}

h2:hover {
    background-color: #ffffff;
}

.col {
    margin: 0;
    padding: 0;
}

.userInfo {
    color: black;
}

.userInfo:hover {
    background-color: #ffffff;
}