.navbar {
    margin: 0;
    border-radius: 0;
    background-color: #1f7a8c;
}

a {
    color: #E1E5f2;
}

button {
    background: none;
    border: none;
}

.nav-links {
    float: right;
    display: flex;
}

.nav-header {
    float: left;
}

body {
    background-color: #ffffff;
    margin: 0;
    color: #022B3A;
}