Form {
    border: 5px solid #E1E5F2;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    background-color: #1a6473;
    color: #E1E5F2;
}

.form-control {
    background-color: #ffffff;
}